<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../../../public/css/gerais.css">
    <link rel="stylesheet" href="../../../../public/css/autenticacao/cadastro.css">
    <script src="../../../../public/js/utils/mensagens.js"></script>
    <script src="../../../../public/js/utils/variaveis.js"></script>
    <script src="../../../../public/js/utils/requisicoes.js"></script>
    <script src="../../../../public/js/utils/gerais.js"></script>
    <script src="../../../../public/js/utils/components.js"></script>
    <script src="../../../../public/js/autenticacao/cadastro.js"></script>
</head>
<body>
    <header>
        <h1>Cadastro de usuario</h1>
    </header>
    <main>
        <form action="#">
            <h2>Seus Dados:</h2>
            <div class="grupo">
                <label for="iNome">Nome Completo:</label>
                <input id="iNome" name="iNome" type="text" placeholder="Informe seu nome completo" required>
            </div>
            <div class="grupo">
                <label for="iEmail">Email:</label>
                <input id="iEmail" name="iEmail" type="email" placeholder="Informe seu email" required>
            </div>
            <div class="grupo">
                <label for="iSenha">Senha:</label>
                <input id="iSenha" name="iSenha" type="password" placeholder="Informe sua senha" required>
            </div>
            <div class="grupo">
                <label>Foto</label>
                <div id="containerArquivo">
                    <input type="file" name="foto" id="foto">
                    <div id="nomeArquivo"></div>
                    <label for="foto"><p>Selecionar</p></label>
                </div>
            </div>
            <div id="acoes">
                <button>Cadastrar</button>
            </div>
        </form>
    </main>
</body>
</html>