#containerGrupoHorario table {
    width: 80%;
    min-width: 450px;
    background-color: var(--branco);
    text-align: center;
    margin-bottom: 100px;
    /* padding: 10px 0; */
    border-collapse: collapse;
}

#containerGrupoHorario table {
    width: 80%;
    min-width: 450px;
    background-color: var(--branco);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 100px;
}

#containerGrupoHorario table thead {
    border-radius: 10px;
}

#containerGrupoHorario table thead tr th {
    font-size: 17px;
    padding: 10px;
    background-color: var(--branco);
}

#containerGrupoHorario table thead tr th {
    font-size: 17px;
    padding: 10px;
}

#containerGrupoHorario table td {
    padding: 10px 0;
}

#containerGrupoHorario table tr:hover {
    font-weight: bold;
}

#containerGrupoHorario table tr:nth-of-type(odd) {
    background-color: #eeeeee;
}

#containerGrupoHorario table tr:last-child {
    border-radius: 0 0 10px 10px;
}

#containerGrupoHorario table tr td button {
    border: 0;
    padding: 3px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

#containerGrupoHorario table tr td button:first-child {
    background-color: var(--verde-confirmar);
}

#containerGrupoHorario table tr td button:last-child {
    background-color: var(--cancelar);
}

#containerGrupoHorario table tr td button:first-child:hover {
    background-color: var(--verde-confirmar-hover);
}

#containerGrupoHorario table tr td button:last-child:hover {
    background-color: var(--cancelar-hover);
}