#containerHistorico {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start !important;
    padding: 50px 0 0 0;
}

#containerHistorico #containerTabela {
    width: 90%;
    height: auto;
    overflow-x: auto;
    margin: 50px 0;
}

#containerHistorico table {
    width: 100%;
    margin: 0;
}

#containerHistorico table th,
#containerHistorico table td {
    min-width: 90px;
}

#containerHistorico input {
    width: 100%;
    max-width: 200px;
    height: 50px;
    padding: 0 10px;
}

#containerHistorico #filtro {
    width: 90%;
    display: flex;
    align-items: center;
}

#containerHistorico #filtro p#pDataFinal {
    font-weight: bold;
    font-size: 17px;
}

#containerHistorico #filtro button#bttExportar {
    margin: 0 0 0 20px;
    background-color: var(--verde-confirmar);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#containerHistorico #filtro button#bttExportar:hover {
    transition: 0.5s;
    background-color: var(--verde-confirmar-hover);
}

.grupoInput {
    min-width: 250px;
}

@media screen and (max-width: 650px) {
    #containerHistorico #filtro {
        flex-direction: column;
        align-items: center;
    }

    #containerHistorico #filtro input {
        margin: 10px 0;
    }

    #containerHistorico input {
        max-width: 150px;
    }

    .grupoInput {
        min-width: auto;
    }
}