body main div#content div#containerPerfil{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
}

body main div#content div#containerPerfil .camposPerfil{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
}

body main div#content div#containerPerfil div#foto{
    border: 5px solid var(--branco);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body main div#content div#containerPerfil div#foto .retina {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;    
    background: rgba(0, 0, 0, 0.5);  
    border-radius: 2px;
    text-align: center;
    transition: .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}
body main div#content div#containerPerfil div#foto .retina p {
    font-size: 30px !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

body main div#content div#containerPerfil div#foto div#dadosFoto:hover .retina{
    transition: 1s;
    opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.5);
}

body main div#content div#containerPerfil div#foto div#dadosFoto:hover img{
    transition: 1s;
    transform: scale(1.2);
}

body main div#content div#containerPerfil div#dadosFoto{
    transition: 1s;
    height: 100%;
    width: 100%;
    border-radius: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(202, 201, 201);
}
body main div#content div#containerPerfil div#foto img{
    height: 250px;
    width: 250px;
    border-radius: 180px;
    transition: 1s;
}

body main div#content div#containerPerfil form{
    margin-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    width: 40%;
    min-width: 500px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px 30px;
    align-items: center;
}

body main div#content div#containerPerfil form p{
    text-align: center;
}

body main div#content div#containerPerfil form h3{
    text-align: center;
    margin: 10px 0;
}

body main div#content div#containerPerfil form input,
body main div#content div#containerPerfil form select {
    height: 50px;
    background-color: var(--cinza);
    border: 0.5px solid rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    font-size: 15px;
    padding: 0 15px;
    cursor: not-allowed;
    margin: 0 0 10px 0;
}

option {
    /* Estilos para os <option> */
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
  }
  
  option:hover {
    /* Estilos ao passar o mouse sobre os <option> */
    background-color: #ddd;
  }
  
  option:selected {
    /* Estilos para o <option> selecionado */
    background-color: #007bff;
    color: #fff;
  }


body main div#content div#containerPerfil form #bttEditar{
    height: 50px;
    background-color: var(--azul);
    border: 0;
    border-radius: 5px;
    color: white;
    width: min-content;
    padding: 0 15px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px 0;
}

body main div#content div#containerPerfil form #bttEditar:hover{
    background-color: var(--azul-hover);
    transition: 0.5s;
}

body main div#content div#containerPerfil form #bttEditar p{
    font-size: 20px;
}

body main div#content div#containerPerfil form #opcoes{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando{
    margin-top: 25px;
    width: 100%;
    /* display: flex; */
    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando button{
    height: 50px;
    border: 0;
    border-radius: 5px;
    color: white;
    width: min-content;
    padding: 0 15px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px 0;
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando button p{
    font-size: 20px;
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando button:hover{
    transition: 0.5s;
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando button#bttConfirmar{
    background-color: var(--verde-confirmar);
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando button#bttConfirmar:hover{
    background-color: var(--verde-confirmar-hover);
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando button#bttCancelar{
    background-color: var(--vermelho);
}

body main div#content div#containerPerfil form #opcoes #opcoesEditando button#bttCancelar:hover{
    background-color: var(--vermelho-hover);
}
