<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="./../../../../public/css/gerais.css">
    <link rel="stylesheet" href="./../../../../public/css/feed/grupoHorarioId.css">
    <link rel="stylesheet" href="./../../../../public/css/feed/grupoHorario.css">
    <link rel="stylesheet" href="./../../../../public/css/feed/ponto.css">
    <link rel="stylesheet" href="./../../../../public/css/feed/feed.css">
    <link rel="stylesheet" href="./../../../../public/css/usuario/perfil.css">
    <link rel="stylesheet" href="./../../../../public/css/feed/historico.css">
    <link rel="stylesheet" href="./../../../../public/css/feed/detalhesPonto.css">

    <!-- Utils -->
    <script src="./../../../../public/js/utils/variaveis.js"></script>
    <script src="./../../../../public/js/utils/mensagens.js"></script>
    <script src="./../../../../public/js/utils/requisicoes.js"></script>
    <script src="./../../../../public/js/utils/gerais.js"></script>
    <script src="./../../../../public/js/utils/components.js"></script>

    <!-- Feed -->
    <script src="./../../../../public/js/feed/perfil.js"></script>
    <script src="./../../../../public/js/feed/grupoHorario.js"></script>
    <script src="./../../../../public/js/feed/grupoHorarioId.js"></script>
    <script src="./../../../../public/js/feed/feed.js"></script>
    <script src="./../../../../public/js/feed/ponto.js"></script>
    <script src="./../../../../public/js/feed/historico.js"></script>
    <script src="./../../../../public/js/feed/detalhesPonto.js"></script>

    <!-- Rotas -->
    <script src="./../../../../public/js/utils/rotas.js"></script>
</head>

<body>
    <main>
        <nav>
            <div id="perfil">
                <div id="foto">
                    <img id="fotoUsuario"
                        src="https://www.lojanebrindes.com.br/img/icons/loading.gif.pagespeed.ce.oFk_cUiLpO.gif"
                        alt="foto perfil">
                </div>
            </div>
            <h2 id="nomeUsuario">Carregando...</h2>
            <div id="menuAcoes">

            </div>
        </nav>
        <div id="content">
            
        </div>
    </main>
</body>

</html>